.av-table-medicos-col-id, .av-table-medicos-col-icons {
	width: 60px;
	text-align: center;
}

.av-table-medicos-col-acoes {
		width: 30px;
		text-align: center;
}

.av-table-servicos-col-id, .av-table-servicos-col-icons {
	width: 60px;
	text-align: center;
}

.av-table-servicos-col-acoes {
		width: 30px;
		text-align: center;
}

.av-table-servicos-col-id, .av-table-servicos-col-icons {
	width: 60px;
	text-align: center;
}

.av-table-servicos-col-acoes {
		width: 30px;
		text-align: center;
}

.av-table-servicos-col-id, .av-table-servicos-col-icons {
	width: 60px;
	text-align: center;
}

.av-table-servicos-col-acoes {
		width: 30px;
		text-align: center;
}